# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
pubspec.lock

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Android
android/.gradle/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/app/debug/
android/app/profile/
android/app/release/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Secrets / signing
android/key.properties
key.properties
*.jks
*.keystore
android/app/google-services.json
google-services.json
